@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 1280px;    
    padding: 20px 28px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    padding-top: 24px;
    color: #243e63;
    font-weight: bold;
}

p {
    padding: 24px 0;
    color: #7c8bA1;
    font-size: 18px;
}

input {
    border-style: hidden;
    padding: 0 12px;
    opacity: 50%;
    font-size: 18px;
    text-decoration: none;
}

.purple {
    color: #6145ff;
}

.no-click {
    cursor: not-allowed;
}

.btn {
    border: none;
    background: #6145ff;
    padding: 12px 32px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 48px;
}

/*

NAVIGATION

*/

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__branding {
    display: flex;
    align-items: center;
}

.nav__branding--logo {
    width: 48px;
}

.nav__header {
    font-size: 28px;
    font-weight: bold;
    padding: 12px;
    color: #243e63;
}

.nav__list {
    text-decoration: none;
    display: flex;
    
}

.nav__list--item {
    list-style-type: none;
    padding: 0 24px;

}

.nav__link {
    font-size: 14px;
    font-weight: 550;
    color: #243e63;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6145ff;
}

.login {
    padding-left: 28px;
}

.sign-up {
    background: #6145ff;
    padding: 12px 32px;
    color: white;
    border-radius: 48px;
    text-decoration: none;
    transition: all 500ms ease;
}

.sign-up:hover {
    background: #5011CC;
}

/*

HEADER

*/

.header {
    display: flex;
    width: 100%;
    padding: 96px 0;
}

.header__left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}

.header__left--h1 {
    color: black;
}

.header__left--body {
    color: #243e63;
    font-size: 20px;
}

.header__left--contact {
    border: 2px solid lightgray;
    border-radius: 24px;
    padding: 18px 8px 18px 16px;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.header__left--contact:hover {
    border: 2px solid #6145ff;
}

.header__left--partners {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
}

.header__left--partners-header {
    font-size: 16px;
    color: #A0Aec0;
}

.header__left--partners-logo {
    width: 70%;
    padding-top: 24px;
    opacity: 50%;
}

.header__right {
    display: flex;
    margin: 0 auto;
    width: 45%;
}

.header__right--img {
    width: 100%;
}

/*

FEATURES

*/

.services {
    width: 100%;
    padding: 96px 0; 
}

.services__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

.services__header--p {
    text-align: center;
    max-width: 576px;
}

.services__services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 42.5px;
    
}

.services__service-item {
    width: calc(80% / 3);
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
}

.features__service-item-left {
    margin-right: 18px;
}

.services__service-item-icon {
    border: 2px solid #bdc3cb;
    padding: 20px;
    border-radius: 50%;
}

/*

QUALITY WORK

*/

.qw {
    width: 100%;
    padding: 96px 0;
    display: flex;
}

.qw__left {
    width: 45%;
}

.qw__left--marker {
    font-size: 16;

}

.qw__left--p { 
    font-size: 18px;
    padding: 0;
    margin: 16px 0;
}

.qw__right {
    display: flex;
    margin: 0 auto;
    width: 45%;
}

.qw__right--img {
    width: 100%;
    border: 1px solid lightgrey;
}

.qw__left--btn {
    margin-top: 16px;
}

/*

STEPS

*/

