@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    line-height: 1.5;
    line-size-adjustment: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;    
    padding: 20px 28px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    transition: 300ms ease backwards;
}

a:hover {
    text-decoration: underline;
    color: #6145ff;
}

h1 {
    font-size: 36px;
    padding-top: 24px;
}

p {
    padding: 24px 0;
    color: #243e63;
    font-size: 20px;
}

input {
    border-style: hidden;
    padding: 0 12px;
    opacity: 50%;
    font-size: 18px;
    text-decoration: none;
}

.purple {
    color: #6145ff;
}

.no-click {
    cursor: not-allowed;
}

.btn {
    border: none;
    background: #6145ff;
    padding: 12px 32px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 48px;
}

/*

NAVIGATION

*/

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__branding {
    display: flex;
    align-items: center;
}

.nav__branding--logo {
    width: 48px;
}

.nav__header {
    font-size: 28px;
    font-weight: bold;
    padding: 12px;
    color: #243e63;
}

.nav__list {
    text-decoration: none;
    display: flex;
    
}

.nav__list--item {
    list-style-type: none;
    padding: 0 24px;

}

.nav__link {
    font-size: 14px;
    font-weight: 550;
    color: #243e63;
}

.login {
    padding-left: 28px;
}

.sign-up {
    background: #6145ff;
    padding: 12px 32px;
    color: white;
    border-radius: 48px;
}

.sign-up:hover {
    text-decoration: none;
    color: white;
    opacity: 135%;
}

/*

HEADER

*/

.header {
    display: flex;
    width: 100%;
}

.header__left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}

.header__left--h1 {
    color: black;
}

.header__left--contact {
    border: 2px solid lightgray;
    border-radius: 24px;
    padding: 18px 8px 18px 16px;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.header__left--contact:hover {
    border: 2px solid #6145ff;
}

.header__left--partners {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
}

.header__left--partners-header {
    font-size: 16px;
    color: #A0Aec0;
}

.header__left--partners-logo {
    width: 70%;
    padding-top: 24px;
    opacity: 50%;
}

.header__right {
    display: flex;
    margin: 0 auto;
    width: 45%;
}

.header__right--img {
    width: 100%;
}

/*

FEATURES

*/

