* {
    box-sizing: border-box;
}

.container {
    border: 3px solid darkgray;
    display: flex;
    padding: 24px 24px 0 24px;
    justify-content: space-between;
}

.box {
    border: 3px solid lightgray;
    margin-bottom: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.left {
    height: 50px;
}

.right {
    width: 45%;
}